{% extends 'base.html' %}

{% block title %} Главная {% endblock %}
{% block body %} Главная
<li>Lorem ipsum dolor sit amet.</li>
<li>Architecto commodi dolorum labore. Placeat.</li>
<li>Commodi distinctio harum itaque omnis?</li>
<li>Incidunt laboriosam neque ullam voluptatem.</li>
<li>Fuga labore natus quibusdam sit.</li>
<li>Aliquid assumenda at sunt ullam.</li>
<li>Dolorem in mollitia quas voluptate.</li>
<li>Aliquam culpa maiores nulla ratione.</li>
<li>Corporis cupiditate doloribus placeat sapiente.</li>
<li>Cum cumque magnam maxime! Perspiciatis.</li>
<li>Modi pariatur perspiciatis voluptate voluptatem?</li>
<li>Blanditiis ipsa libero quaerat totam.</li>
<li>Ea explicabo illum iste veniam.</li>
<li>Deleniti esse eveniet magni reiciendis!</li>
<li>Alias dicta natus reiciendis! Laboriosam?</li>
<li>Explicabo fuga fugiat in nihil?</li>
<li>Esse facere molestias nulla odit?</li>
<li>Aperiam eligendi illo nam ut.</li>
<li>Asperiores eius facere in sequi?</li>
<li>Cupiditate deleniti dolore veniam voluptate.</li>
<li>Enim illum ipsa praesentium ratione!</li>
<li>Doloribus maxime nemo provident temporibus.</li>
<li>Dignissimos facilis minima odit qui?</li>
<li>Blanditiis numquam quis saepe sint.</li>
<li>Dignissimos illum nostrum soluta voluptatum.</li>
<li>Error eum nam nihil sapiente.</li>
<li>Accusamus doloremque fuga tempora voluptas.</li>
<li>Commodi sequi sint tenetur voluptatum!</li>
<li>A incidunt odio sit velit.</li>
<li>Ab aut esse id itaque.</li>
<li>Ipsa obcaecati odit sed sint.</li>
<li>Architecto ex fugiat hic iure?</li>
<li>Ea eaque eos omnis sed?</li>
<li>Ipsum obcaecati optio unde voluptatem!</li>
<li>Aliquam ducimus itaque rem suscipit.</li>
<li>Ducimus omnis provident suscipit tempora.</li>
<li>Accusantium corporis debitis ducimus fugiat.</li>
<li>Aut consectetur dolor nesciunt nobis?</li>
<li>Animi iste magnam officia quidem.</li>
<li>Culpa dicta eius et nesciunt?</li>
<li>Aperiam aut incidunt laudantium nemo.</li>
<li>Culpa cupiditate quasi ratione voluptatibus!</li>
<li>Eius eveniet inventore labore optio.</li>
<li>Architecto ipsum non possimus quam.</li>
<li>Ad et laudantium repudiandae voluptatibus.</li>
<li>Culpa eaque facilis magni mollitia.</li>
<li>Adipisci quod suscipit veniam vero!</li>
<li>Dicta ducimus id nemo nesciunt.</li>
<li>Dolor dolorem fugiat maiores quisquam?</li>
<li>Autem laudantium nostrum provident repellendus.</li>
<li>Magnam placeat porro reprehenderit saepe?</li>
<li>Asperiores odio odit tempore voluptate!</li>
<li>Est magni molestiae odio reprehenderit.</li>
<li>Aspernatur mollitia qui rem saepe.</li>
<li>A atque esse facilis fuga!</li>
<li>Consequuntur numquam odio sint unde?</li>
<li>A impedit, nulla. Dolor, ullam.</li>
<li>At nemo, quo. Aperiam, cumque!</li>
<li>Explicabo harum libero necessitatibus sequi.</li>
<li>Alias doloribus ex facilis omnis!</li>
<li>Architecto autem dicta modi ullam.</li>
<li>Est maiores obcaecati quaerat quisquam!</li>
<li>Aliquid deleniti modi quibusdam tempora.</li>
<li>Deserunt dolores fugit minima omnis?</li>
<li>Beatae et magni nostrum sapiente!</li>
<li>Aliquam aspernatur fugit ipsa placeat.</li>
<li>Architecto assumenda eligendi facere soluta!</li>
<li>Iste officia officiis rem repellat.</li>
<li>Adipisci distinctio nisi suscipit. Voluptas.</li>
<li>Ea provident quidem velit veritatis!</li>

{% endblock %}